/* inline literals; change colour from built in red to blue */

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #3333ff;
    font-size: 90%!important;
}
/* ========================================== */
/* Custom transition  4+char like ---- */
/* keep grey for both #e1e4e5  and not rst  #413d3d */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #e1e4e5;
    margin: 24px 0;
    padding: 0;
}

.rst-versions .rst-other-versions hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 24px 0;
    padding: 0;
    border-top: 4px solid #e1e4e5;
}

/* ========================================== */
/* Custom admonition */

div.admonition-answer,
div.admonition-answers{
    color: blue;
    border: 2px solid;
    background-color: #e7f2fa;
}

div.admonition-answer p.admonition-title,
div.admonition-answers p.admonition-title{
    text-transform: capitalize;
    color: black!important;
    background-color: #6ab0de;
}

div.admonition-question,
div.admonition-questions{
    color: blue;
    border: 2px solid gold;
    background-color: lightyellow!important;
}

div.admonition-question p.admonition-title,
div.admonition-questions p.admonition-title{
    text-transform: capitalize;
    color: black!important;
    background-color: gold!important;
}

div.admonition-task,
div.admonition-tasks {
    color: blue;
    border: 2px solid gold;
    background-color: lightyellow!important;
}

div.admonition-task p.admonition-title,
div.admonition-tasks p.admonition-title {
    text-transform: capitalize;
    color: black!important;
    background-color: gold!important;
}

div.admonition-project,
div.admonition-projects {
    color: blue;
    border: 2px solid gold;
    background-color: lightyellow!important;
}

div.admonition-project p.admonition-title,
div.admonition-projects p.admonition-title {
    text-transform: capitalize;
    color: black!important;
    background-color: gold!important;
}



/* ========================================== */
/* Hide "On GitHub" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}
/* Hide "versions" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(1) {
    display: none;
}
/* Hide "On Read the Docs" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3) {
    display: none;
}

/* ========================================== */
/* kbd role for keyboard shortcuts */

.rst-content kbd {
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px;
    line-height:1.6;
    margin:0 .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
}

/* ========================================== */
/* Copy buttons for sphinx-copybutton extension */

a.copybtn {
    position: absolute;
    top: .2em;
    right: .2em;
    width: 1.3em;
    height: 1.3em;
    opacity: .3;
    transition: opacity 0.5s;
    border: none;
    user-select: none;
}

}
div.highlight  {
    position: relative;
    background: #fffdef;}

a.copybtn > img {
    vertical-align: top;
    margin: 0;
    top: 0;
    right: 0;
    position: absolute;
}

.highlight:hover .copybtn {
    opacity: 1;
}

/**
 * A minimal CSS-only tooltip copied from:
 *   https://codepen.io/mildrenben/pen/rVBrpK
 * To use, write HTML like the following:
 * <p class="o-tooltip--left" data-tooltip="Hey">Short</p>
 */

.o-tooltip--left {
    position: relative;
}

.o-tooltip--left:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 2px;
    top: 0;
    left: -.2em;
    background: grey;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    transform: translateX(-102%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.o-tooltip--left:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-100%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition-delay: .5s;
}

/* ========================================== */
/** for inlcuing pseudocode text files
* .rst-content div[class^=highlight-default] pre {
    background: #fffce2;
}
*/

.highlight-default .notranslate {
        background: #eef5ff !important;
}
